---
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";
export const prerender = true;

const meta = {
	description: "关于克喵爱吃卤面",
	// 修改：关于
	title: "关于",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-8">关于</h1>

	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			我是克喵爱吃卤面，在南京上大学，双非二本大二生，专业自动化技术与应用，实力小菜鸡。
		</p>
		<p>
			在这里，你可以找到我对生活的观察、对世界的思考，以及对未来的期待。分享着好用的资源、实用的技巧、项目，以及一些有趣的趣事。
		</p>
		<p>
			如果你对我的文章有任何疑问或建议，欢迎在评论区留言。我会尽力回复，并感谢你的支持；我分享的资源如果侵犯了您的合法权益，请联系我，我会立即删除。
		</p>
		<p>
			感谢<a href="https://github.com/zouzonghao" title="作者" target="_blank">大佬</a>的博客帮助。
		</p>
		<p>
			随笔与札记，一个记录生活，一个记录知识。它们是我与世界对话的方式，也是我与自己对话的桥梁。希望这些文字能够带给你一些启发，或者至少让你感受到一丝共鸣。
		</p>
	</div>
	<div>
		<SocialList />
	</div>
</PageLayout>
